.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  background: black;
  color: white;
}

// small phone screen sizes
@media all and (max-width: 36rem) {
  .app {
    overflow: hidden;
  }
}
