// Reference sheet for use while working
$super-small-screen: 23.75rem; // Small Phone 380px
$small-screen: 36rem; // Phones Average 576px
$medium-screen: 48rem; // Tablets 768px
$large-screen: 62.5rem; // Small laptops and desktops 1000px
$medium-screen: 68.75rem; // Medium Laptops and Desktops 1100px
$extra-large-screen: 93.75rem; // Larger laptops and desktops 1500px
