$small-screen: 36rem; // Phones 576px
$medium-screen: 48rem; // Tablets 768px
$large-screen: 62rem; // Small laptops and desktops 992px
$extra-large-screen: 93.75rem; // Larger laptops and desktops 1500px
