.services {
  display: flex;
  gap: 4rem;
  font-size: 2.5rem;

  .service-box {
    background: #13191a;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    height: 20rem;

    p {
      display: flex;
    }
    .icon-circle {
      display: flex;
      justify-content: center;
      padding: 0.75rem;
      background: #2d3ef4;
      border-radius: 50%;
      margin: 1rem;
    }
  }

  .service-box:hover {
    background: #2d3ef4;
  }
}

//Phones
@media all and (max-width: 36rem) {
  .services {
    display: block;

    .service-box {
      margin-bottom: 1rem;
    }
  }
}

//Tablets
@media all and (max-width: 48rem) {
  .services {
    display: block;

    .service-box {
      margin-bottom: 1rem;
    }
  }
}

//Small Laptops
@media all and (max-width: 62.5rem) {
  .services {
    gap: 2rem;
    .service-box {
      margin-bottom: 1rem;
      width: 13rem;
      height: 10rem;
      font-size: 1.5rem;
    }
  }
}
