.experience-content-container {
  max-width: 55rem;
  .time-worked {
    font-size: 3rem;
    padding: 0.25rem;
  }
  .bullet-points-title {
    font-size: 2rem;
    padding: 0.5rem;
  }
  .bullet-points {
    font-size: 1.5rem;
    padding-top: 0.25rem;
    padding-left: 1.5rem;
  }
}
