.experience-content-container {
  // max-width: 55rem;
  .time-worked {
    font-size: 2rem;
    padding: 0.25rem;
  }
  .bullet-points-title {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  .bullet-points {
    font-size: 1.5rem;
    padding-top: 0.25rem;
    padding-left: 1.5rem;
  }
}

// Small phone
@media all and (min-width: 23.75rem) {
  .experience-content-container {
    .time-worked {
      font-size: 1.5rem;
    }
    .bullet-points-title {
      font-size: 1.25rem;
    }
    .bullet-points {
      font-size: 1rem;
      p {
        padding: 0.15rem;
      }
    }
  }
}

// Phone
@media all and (min-width: 36rem) {
  .experience-content-container {
    .time-worked {
      font-size: 1.75rem;
    }
    .bullet-points-title {
      font-size: 1.5rem;
    }
    .bullet-points {
      font-size: 1.1rem;
      p {
        padding: 0.15rem;
      }
    }
  }
}
