.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 60rem;
  margin: 1rem;

  .portfolio-title {
    font-size: 4rem;
    padding: 2rem;
    margin-bottom: 2rem;
  }
  .portfolio-component-container {
    display: flex;
    gap: 10rem;
  }
}

// Small Phone Screen Sizes
@media all and (max-width: 36rem) {
  .portfolio {
    .portfolio-title {
      margin-top: -7rem;
      margin-bottom: -1rem;
    }
    .portfolio-component-container {
      flex-direction: column;
    }
  }
}

// Small Phone Screen Sizes
@media all and (max-width: 48rem) {
  .portfolio {
    .portfolio-title {
      margin-top: -7rem;
      margin-bottom: -1rem;
    }
    .portfolio-component-container {
      flex-direction: column;
      gap: 2rem;
    }
  }
}
