.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 60rem;
  margin-bottom: 2rem;
  margin-top: 4rem;

  .portfolio-title {
    font-size: 2rem;
    color: white;
    padding: 1rem;
    margin-bottom: 2rem;
    background: #13191a;
    border: solid black;
    font-style: italic;
  }
  .portfolio-title:hover {
    background: #2d3ef4;
    cursor: pointer;
  }
  .portfolio-component-container {
    display: flex;
    gap: 10rem;
  }
}

// Small Phone
@media all and (min-width: 23.75rem) {
  .portfolio {
    .portfolio-title {
      margin-top: -7rem;
      margin-bottom: 0;
    }
    .portfolio-component-container {
      flex-direction: column;
      margin-bottom: 6rem;
    }
  }
}

// Phone
@media all and (min-width: 36rem) {
  .portfolio {
    .portfolio-title {
      margin-top: -7rem;
      margin-bottom: 0rem;
    }
    .portfolio-component-container {
      flex-direction: column;
    }
  }
}

// Tablets
@media all and (min-width: 48rem) {
  .portfolio {
    .portfolio-title {
      margin-top: -7rem;
      margin-bottom: 0rem;
    }
    .portfolio-component-container {
      flex-direction: column;
      gap: 2rem;
    }
  }
}

// Small Laptops
@media all and (min-width: 62.5rem) {
  .portfolio {
    .portfolio-title {
      margin-top: -6rem;
      margin-bottom: 1rem;
    }
    .portfolio-component-container {
      flex-direction: row;
      gap: 2rem;
    }
  }
}

// Small Laptops
@media all and (min-width: 68.75rem) {
  .portfolio {
    .portfolio-title {
      margin-top: -6rem;
      margin-bottom: 1rem;
    }
    .portfolio-component-container {
      flex-direction: row;

      gap: 2rem;
    }
  }
}
