.work-in-progress-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  .work-in-progess-container {
    padding: 2rem;
    border-radius: 1rem;
    background: grey;
    color: black;
    width: 40rem;
    height: 20rem;
    font-size: 2rem;
  }
}
