.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    max-width: 100rem;
  }

  .dancing-dev-title {
    font-size: 6rem;
  }
}

// Small Phone
@media screen and (min-width: 380px) {
  .header {
    img {
      max-width: 25rem;
    }

    .dancing-dev-title {
      font-size: 1.5rem;
    }
  }
}

// Phone
@media all and (min-width: 36rem) {
  .header {
    img {
      max-width: 30rem;
    }

    .dancing-dev-title {
      font-size: 2rem;
    }
  }
}

//Tablet
@media all and (min-width: 48rem) {
  .header {
    img {
      max-width: 35rem;
    }

    .dancing-dev-title {
      font-size: 3rem;
    }
  }
}

//Small Laptop
@media all and (min-width: 62.5rem) {
  .header {
    img {
      max-width: 40rem;
    }

    .dancing-dev-title {
      font-size: 3rem;
    }
  }
}
