.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    max-width: 100rem;
  }

  .dancing-dev-title {
    font-size: 6rem;
  }
}

// Phone Size Media Tags
@media all and (max-width: 36rem) {
  .header {
    img {
      max-width: 30rem;
    }

    .dancing-dev-title {
      font-size: 2rem;
    }
  }
}

//Tablet Size
@media all and (max-width: 48rem) {
  .header {
    img {
      max-width: 35rem;
    }

    .dancing-dev-title {
      font-size: 3rem;
    }
  }
}
