.navbar {
  background: black;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  position: fixed;
  height: 6rem;
  top: 0;
  z-index: 100;
  transition: transform 0.3s;

  .logo-side {
    img {
      width: 10rem;
    }
  }

  .links {
    button {
      background: black;
      color: white;
      border: none;
      border-top: solid 2px white;
      border-radius: 0.15rem;
      padding: 1rem;
      font-size: 1.5rem;
      cursor: pointer;
    }
    button:hover {
      background: #343a40;
      font-size: 1.6rem;
      border-top: solid 2px #fd7e14;
    }
  }
}
.navbar.hidden {
  transform: translateY(-100%);
}
