.navbar {
  background: black;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  position: relative;
  position: fixed;
  height: 6.5rem;
  left: -0.5%;
  top: 0;

  z-index: 100;
  transition: transform 0.3s;

  .logo-side {
    img {
      width: 10rem;
      cursor: pointer;
    }
  }

  .toggler {
    display: none;
  }

  .links {
    button {
      background: black;
      color: white;
      border: none;
      border-top: solid 2px white;
      border-radius: 0.15rem;
      padding: 1rem;
      font-size: 1.5rem;
      cursor: pointer;
    }
    button:hover {
      background: #343a40;
      font-size: 1.6rem;
      border-top: solid 2px #fd7e14;
    }
  }
}
.navbar.hidden {
  transform: translateY(-100%);
}

//small screen size phone

@media all and (max-width: 62.5rem) {
  .navbar {
    flex-direction: column;
    align-items: start;
    height: 1rem;
    position: fixed;
    right: 0.5%;

    .logo-side {
      display: none;
    }
    .links {
      display: flex;
      flex-direction: column;

      button {
        width: 30vw;
        font-size: 1rem;
        background: #343a40;
      }
      button:hover {
        background: #fd7e14;
      }
    }

    .toggler {
      display: block;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  .navbar.hidden {
    transform: translateY(-500%);
  }
}

@media all and (max-width: 23.75rem) {
  .navbar {
    flex-direction: column;
    align-items: start;
    height: 1rem;
    position: fixed;
    right: 0.5%;

    .logo-side {
      display: none;
    }
    .links {
      display: flex;
      flex-direction: column;

      button {
        width: 30vw;
        font-size: 1rem;
        background: #343a40;
      }
      button:hover {
        background: #fd7e14;
        font-size: 1rem;
      }
    }

    .toggler {
      display: block;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  .navbar.hidden {
    transform: translateY(-500%);
  }
}
