.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  .contact-me-title {
    font-size: 4rem;
    padding: 3rem;
  }

  .email {
    font-size: 2rem;
  }

  .contact-me-form-container {
    display: flex;
    gap: 2rem;
    padding: 1rem;

    input {
      background: black;
      border-bottom: #2d3ef4 solid 2px;
      color: white;
      width: 35rem;
      padding: 1rem;
      margin-bottom: 1rem;
      font-size: 1.25rem;
    }
    .form-left-side {
      display: flex;
      flex-direction: column;
    }
    .form-right-side {
      display: flex;
      flex-direction: column;
      .message-input {
        padding-bottom: 5.25rem;
      }
    }
  }

  button {
    background: black;
    color: white;
    border: solid 2px #2d3ef4;
    border-radius: 0.25rem;
    width: 10rem;
    font-size: 2rem;
  }

  button:hover {
    background: #13191a;
    cursor: pointer;
  }
}

// Phone
@media all and (min-width: 23.75rem) {
  .contact-me {
    .contact-me-title {
      margin-top: 5rem;
      margin-bottom: -2rem;
      font-size: 3.5rem;
    }

    .contact-me-form-container {
      flex-direction: column;
      align-items: center;

      .form-left-side {
        input {
          width: 22rem;
        }
      }
      .form-right-side {
        input {
          width: 22rem;
        }
      }
    }
  }
}

// Phone
@media all and (min-width: 36rem) {
  .contact-me {
    .contact-me-title {
      margin-top: 4.5rem;
      margin-bottom: -2rem;
    }

    .contact-me-form-container {
      flex-direction: column;
      align-items: center;

      .form-left-side {
        input {
          width: 24rem;
        }
      }
      .form-right-side {
        input {
          width: 24rem;
        }
      }
    }
  }
}

// Tablet
@media all and (min-width: 48rem) {
  .contact-me {
    .contact-me-title {
      margin-top: -2.5rem;
      margin-bottom: -2rem;
    }

    .contact-me-form-container {
      flex-direction: column;
      align-items: center;

      .form-left-side {
        input {
          width: 24rem;
        }
      }
      .form-right-side {
        input {
          width: 24rem;
        }
      }
    }
  }
}

// Small Laptops
@media all and (min-width: 62.5rem) {
  .contact-me {
    .contact-me-title {
      margin-top: -2.5rem;
      margin-bottom: -2rem;
    }

    .contact-me-form-container {
      align-items: center;

      .form-left-side {
        input {
          width: 24rem;
        }
      }
      .form-right-side {
        input {
          width: 24rem;
        }
      }
    }
  }
}

// Small Laptops
@media all and (min-width: 68.75rem) {
  .contact-me {
    .contact-me-title {
      margin-top: -2.5rem;
      margin-bottom: -2rem;
    }

    .contact-me-form-container {
      align-items: center;
      flex-direction: row;

      .form-left-side {
        input {
          width: 24rem;
        }
      }
      .form-right-side {
        input {
          width: 24rem;
        }
      }
    }
  }
}
